.flip{
    transform: rotateY(180deg);
}
.reverse-flip{
    transform: rotateY(0deg);
}
.card-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #484848;
    text-align: center;
    box-shadow: 2px 2px 8px #484848;
    background: #f8f4f4;
    flex-grow:1;
    border-radius: 16px;
}

card img {
    border: 1px solid #484848;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #484848;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
}
.game-controls {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
}
.game-controls input,.game-controls button
{
    margin:0 auto
}
.game-controls .game-toggle{
    height:55px
}
.container {
    display: flex;
    flex-flow: row wrap;
}
